* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.courses-container {
  margin:2rem;
  background-color: #fff;
}

.courses-container h2 {
  background-color: #e8e8e8;
}

.courses-list {
  list-style-type: none;
  margin:0;
  padding:0;
}

.courses-list li {
  font-size: 1.5rem;
  background-color: #e6e7e4;
}